services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./server
    container_name: fastapi_server
    restart: always
    depends_on:
      - db
    env_file:
      - ./.env
    working_dir: /src
    volumes:
      - ./server:/src
    ports:
      - "8000:8000"
    command: ["fastapi", "run", "app/main.py", "--port", "8000"]

volumes:
  postgres_data: